/* @import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;700&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root{
    --brand-color:#23a56b;

    --primary-color: #121212;
    --secondary-color: #3b3b3b11;
    --accent-color: #3a9bdb;
    --white-color: #f3f3f3;
    
    --primary-color-80: rgba(18, 18, 18, 0.6);
    --background-logo-overlay-color: rgba(18, 18, 18, 0.7);

    --background-color: #1a1a1a;
    --background-overlay-60: rgba(26, 26, 26, 0.6);
    --border-fade: rgba(85, 85, 85, 0.3);
   
    --hover-accent-color: #2a9eec80;
    --hover-background-color: #1a1a1a;

    --danger-color:#e74c3c;
    --danger-success:#18bc9c;
    --danger-info:#3498db;

    --themeSwitchLight: #f3f3f3;
    --themeSwitchDark: #121212;
    --themeSwitchBackground: #555555;

    --theme-color-1: #6F69AC;
    --theme-color-5: #2b1bda;
    --theme-color-2:#95DAC1;
    --theme-color-3:#FFEBA1;
    --theme-color-4:#FD6F96;

    --theme-color-11: #073B4C;
    --theme-color-12:#118AB2;
    --theme-color-13:#06D6A0;
    --theme-color-14:#FFD166;
    --theme-color-15: #EF476F;

    --theme-color-21: #CDB4DB;
    --theme-color-22:#FFC8DD;
    --theme-color-23:#FFAFCC;
    --theme-color-24:#BDE0FE;
    --theme-color-25: #A2D2FF;


    /* Fonts */
    --body-font: 'Nunito', sans-serif;
    --font-color-main:#f3f3f3;
    --font-color-faid: #555555;
    --small-font-size: 1.3rem;
    --normal-font-size: 1.6rem;
    --big-font-size: 2rem;

    --header-height: 5.4rem;
    --nav-width: 68px;

    --z-fixed: 100;

    --border: 1px solid var(--border-fade);
}

.lightTheme{

    --primary-color: #d1d1d1;
    --secondary-color: #3b3b3b11;
    
    --primary-color-80: rgba(18, 18, 18, 0.6);
    --background-logo-overlay-color: rgba(237, 237, 237, 0.5);

    --background-color: #eeeeee;
    --background-overlay-60: rgba(26, 26, 26, 0.1);
    /* --border-fade: rgba(82, 82, 82, 0.575); */
    --border-fade: rgba(88, 84, 105, 0.45);
   
    --hover-accent-color: #2a9eec80;
    --hover-background-color: #1a1a1a;

    /* Fonts */
    /* --font-color-main:#f3f3f3;
    --font-color-faid: #555555; */
    
    --font-color-main: #585469;
    --font-color-faid: #585469;

    --border: 1px solid var(--border-fade);
}


*
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-size: 62.5%; 
}

body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    /* padding: 0 3rem; */
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition:  .3s linear;
    background-color: var(--background-color);   
}

/* body.light{
    background-color: white;
} */

a {
    text-decoration: none
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

/* Start of Custom Utiliy Classes */

.opacity-6{
    opacity: .6;
}

.bgc-main{
    background-color: var(--primary-color);
}

.bgc-secondary{
    background-color: var(--background-color);
}

.bgc-overlay{
    background-color: var(--background-overlay-60);
}

.brd-faid{
    /* border: 1px solid var(--font-color-faid); */
    border: var(--border);
    border-radius: 3px;
}

.tc-main{
    color: var(--font-color-main);
}

.tc-faid{
    color: var(--font-color-faid);
}

.tc-accent{
    color: var(--font-color-faid);
}

.theme-c-1{
    color: var(--theme-color-11);
}
.theme-c-2{
    color: var(--theme-color-12);
}
.theme-c-3{
    color: var(--theme-color-13);
}
.theme-c-4{
    color: var(--theme-color-14);
}

.theme-c-5{
    color: var(--theme-color-15);
}

.danger-cust{
    color: var(--danger-color);
}

.icon-custom{
    font-size: 2.2rem;
    color: var(--font-color-faid);
}

.icon-big{
    font-size: 4.2rem;
    opacity: .4;
}

/* Start of Custom Utiliy Classes */

/* Start of Navigation */
.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
    background-color: var(--primary-color);
    z-index: var(--z-fixed);
    transition: .5s
}

.header_toggle {
    color: var(--font-color-faid);
    font-size: 2.4rem;
    cursor: pointer;
    padding-left: 1.6rem;
}

.header_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden
}

.header_img img {
    width: 40px
}

.header_user {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-right: 1.4rem;
}

.header_user h2 {
    font-size: var(--normal-font-size);
    color: var(--font-color-main);
    margin: 0;
}

.header_user h2:last-child{
    color: var(--accent-color);
    font-style: italic;
}

/* Start Search */
.search{
    height: 3rem;
    /* border: 2px solid var(--font-color-faid); */
    padding: 0;
    border-radius: .3rem;
}

.search input{
    /* height: 2.6rem; */
    height: 3rem;
    color: var( --font-color-faid);
    background-color: var(--background-color);
    font-size: var(--small-font-size);;
}

.search input:focus{
    border: none;
    background-color: var(--background-color-secondary);
    outline: none;
    box-shadow: var(--background-color-secondary);
    color: var(--font-color-main-dt);
}

.search button{
    /* height: 2.6rem; */
    height: 3rem;
    background-color: var(--background-color);
    color: var(--accent-color);
}

.search button:hover{
    color: var(--hover-accent-color);
}
/* End Search */

.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--primary-color);
    /* padding: .5rem 1.6rem 0 0; */
    padding: 1rem;
    transition: .5s;
    z-index: var(--z-fixed);
    border-right: 1px solid var(--accent-color);
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
}

.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
    column-gap: 1rem;
}

.company-logo{
    height: 12rem;
    margin-bottom: 1.8rem;
}

.company-logo-overlay {
    height: 100%;
    width: 100%;
    background: linear-gradient(var(--background-logo-overlay-color), var(--background-logo-overlay-color)), url(../img/bg-logo.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: bottom left;
    padding: 0 0 0 2.2rem;  
}

.nav_logo-icon {
    font-size: 2.2rem;
    color: var(--brand-color)
}

.nav_name{
    padding-left: 1.2rem;
}

.nav_logo-name {
    color: var(--brand-color);
    font-weight: 700;
    padding-left: 1.2rem;
    font-size: 2.4rem;
}

.nav_link {
    position: relative;
    color: var(--font-color-faid);
    /* margin-bottom: 1.8rem; */
    padding: 1rem 0 1rem 2.2rem;
    transition: .3s
}

.nav_link:hover,
.nav_link-li:hover{
    color: var(--hover-accent-color);
    background-color: var(--hover-background-color);
    cursor: pointer;
}

#navUser,
#navStats,
#navSettings{
    display: none;  
    flex-direction: column;
    background-color: var(--background-color-secondary);
    animation:  openMenu 0.4s ease;
}

.switch{
    padding: 1rem .9rem;
}

.switch-theme{
    position: relative;
    width: 4.8rem;
    height: 2.8rem;
    background-color: var(--themeSwitchBackground);
    border-radius: 8rem;
}

.checkboxSwitch{
    opacity: 0;
    position: absolute;
}

.switcher{
    position: absolute;
    width: 3rem;
    height: 3rem;
    background-color: var(--themeSwitchLight);
    top: calc(50% - 1.5rem);
    left: 0rem;
    border-radius: 50%;
    transition: transform .2s linear; 
    border: 2px solid var(--accent-color);
}

.checkboxSwitch:checked + label .switcher{
    background-color: var(--themeSwitchDark);
    transform: translateX(1.8rem);
}

.switcher:hover{
    cursor: pointer;
}

@keyframes openMenu{
    from{
        transform: translateY(-30px);
        opacity: 0;
    }

    to{
        transform: translateY(0px);
        opacity: 1;
    }
}

.nav_link-li{
    position: relative;
    color: var(--font-color-faid);
    padding: 0.5rem 0 0.5rem 8rem;
}

.nav_list-ul h1{
    font-size: 1.6rem;
    margin: 0;
}

.nav_icon {
    font-size: 2.2rem;
}

.show {
    left: 0;
    padding: 0;
}

.body-pd {
    padding-left: calc(var(--nav-width) + 1rem);
}

.active {
    color: var(--accent-color);
}

.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 3px;
    height: 100%;
    background-color: var(--accent-color);
}

.height-100 {
    height: 100vh;
}
/* End of Navigation */


/* Start Main Container for data */
.main {
    padding: 2rem;
}

.card-body a:hover{
    color: var(--font-color-faid);
}

/* End of Main Container for data */



@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width))
        /* padding-right: */
    }

    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 3rem 0 calc(var(--nav-width))
    }

    .header_img {
        width: 40px;
        height: 40px;
    }

    .header_img img {
        width: 45px
    }

    .l-navbar {
        left: 0;
        padding: 0 0 0 0;
    }

    .show {
        width: calc(var(--nav-width) + 188px)
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 188px)
    }
}

@media screen and (max-width: 768px){

    .header_user {
        display: none !important;
    }

    .header_toggle {
        padding-left: 0rem;
    }

    .icon-big{
        font-size: 3.4rem;
        opacity: .4;
    }

}